doctype html
html(lang="en")
  head
    title= 'Basar Labels'
  body
    table(width='100%', cellspacing='0', cellpadding='0', border='2px')
      tbody
      each val in [1, 2, 3, 4]
        tr(style='height: 240px;')
          td(style='text-align: center; vertical-align: middle;') 
            img(src=img)
            p #{sellerNumber}
            p(style='text-align: left; margin-left:10px;') Preis:
          td(style='text-align: center; vertical-align: middle;')
            img(src=img)
            p #{sellerNumber}
            p(style='text-align: left; margin-left:10px;') Preis:
          td(style='text-align: center; vertical-align: middle;')
            img(src=img)
            p #{sellerNumber}
            p(style='text-align: left; margin-left:10px;') Preis:
          td(style='text-align: center; vertical-align: middle;')
            img(src=img)
            p #{sellerNumber}
            p(style='text-align: left; margin-left:10px;') Preis: